/*-- Tea Cozy stylesheet -- */

html, body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

/*--- Header --- */

.header {
	display: flex;
	position: fixed;
	z-index: 10;
	background-color: black;
	color: white;
	border-bottom: 1px solid seashell;
	height: 69px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: -8px;
}

.header li {
	display: inline; 
}

.logo img {
	height: 50px;
	padding-left: 10px;
}

.header a {
	color: seashell;
	opacity: 0.9;
	text-decoration: underline;
	padding-right: 30px;
}

/*--- Main 'Mission' Section --- */

.main {
	position: relative;
	top: 63px;
}
.mission {
	display: flex;
	height: 700px;
	width: 1200px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
	background-position: center;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

.mission span {
	font-family: cursive;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: black;
	width: 1200px;
	align-items: center;
}

.container h4, h2 {
	margin: 10px;
}

/*--- Tea of the Month section --- */

.month {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 700px;
	/*border: 2px solid yellow;*/
	justify-content: space-between;
	margin-top: 30px;

}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*--- First Row of seasonal teas -- */

.rowone {
	display: flex;
	justify-content: space-around;
}	

.photo {
	border: 1px solid orange;
}

.rowtwocontainer {
	display: flex;
	justify-content: center;
}
.rowtwo {
	display: flex;
	justify-content: space-around;
	width: 700px;
	/*border: 2px solid white;*/
	
}

.photo {
	text-align: center;
}

/*-- Locations -- */

.locations {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
	height: 500px;
	width: 1200px;
	background-size: cover;
	background-position: center;
	margin-top: 30px;
}

.localrow {
	display: flex;
	justify-content: space-around;

}

.place {
	text-align: center;
	height: 250px;
	width: 300px;
	background-color: black;
	
}

/*-- Footer -- */

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 300px;
	margin-top: 30px;
}

.contact {
	display: flex;
	flex-direction: column;
   	align-items: center;
	
}

.copy {
	display: flex;
	text-align: left;
}





